body{
	
	/*next three lines are code for background*/
	background-color: #f5e3e6;
	background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);

	width: 100%;
	margin-top: 0px;
	margin-left:  0px;
	margin-right: 0px;

}

#header{
	width: 100%;
	display: flex;
	justify-content:  space-between;
	position:  fixed;
	height: 7%;
	background: rgba(255, 255, 255, 0.95);
	padding: 1%;
	margin-top: -70px;
	z-index: 1;
}

#header img{
	border-radius: 5px;
	max-width: 40%;
	height: auto;
}

a2{
	margin-left: 80%;
	text-align: right;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	font-family: 'Quicksand', sans-serif;
	font-weight: 550;
}

#profile{
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
	margin-top: 70px;
}

#profile img{
	border-radius: 5px;
	max-width: 30%;
	height: auto;
}

.name h1{
	font-family: 'Source Serif Pro', serif;
	font-size: 60px;
	margin-bottom: 0px;
	line-height: 60px;
}

.name h2{
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	font-size: 25px;

}

.name p{
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;

}

.name{
	/*border: 1px solid black;*/
	margin-right: 2%;
	max-width: 40%;
	width: 40%;
}

.links{
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 2%;
	width: 20%;

}
	.Resume{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  125px;
		height: 40px;
		transition:800ms ease all;
		margin-right: 2%;
		width: 100%;
	}

	.Resume:hover{
		background: white;
	}

	.Resume a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.Resume a:hover{
		color: lightpink;
		transition:800ms ease all;
	}

	.Linkedin{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  125px;
		height: 40px;
		transition:800ms ease all;
		margin-right: 2%;
		width: 100%
	}

	.Linkedin:hover{
		background: white;
	}

	.Linkedin a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.Linkedin a:hover{
		color: lightpink;
		transition:800ms ease all;
	}

	.Instagram{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  125px;
		height: 40px;
		transition:800ms ease all;
		margin-right: 2%;
		width: 100%
	}

	.Instagram:hover{
		background: white;
	}

	.Instagram a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.Instagram a:hover{
		color: lightpink;
		transition:800ms ease all;
	}

	.Email{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  125px;
		height: 40px;
		transition:800ms ease all;
		width: 100%;
	}

	.Email:hover{
		background: white;
	}

	.Email a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.Email a:hover{
		color: lightpink;
		transition:800ms ease all;
	}


#experience{
	padding: 5%;
}


.Columbia{

}

.HSO{
	text-align: right;
}

h3{
	font-family: 'Source Serif Pro', serif;
	font-size: 35px;

}

h4{
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;

}

p2{
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	font-weight: heavier;
	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width: 20px;

}

.research{
	margin-top: 200px;
	margin-bottom: 100px;
}

.publication2020{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  40%;
		height: 40px;
		transition:800ms ease all;
		margin-right: 2%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 10%;
	}

	.publication2020:hover{
		background: white;
	}

	.publication2020 a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.publication2020 a:hover{
		color: lightpink;
		transition:800ms ease all;
	}


.publication2019{
		border-radius: 30px;
		border: 1px transparent;
		background: lightpink;
		width:  40%;
		height: 40px;
		transition:800ms ease all;
		margin-right: 2%;
	}

	.publication2019:hover{
		background: white;
	}

	.publication2019 a{
		font-family: 'Quicksand', sans-serif;
		font-size:  14px;
		font-weight: 650;
		letter-spacing: 1px;
		color: black;
		text-decoration:  underline;
		transition:800ms ease all;
	}

	.publication2019 a:hover{
		color: lightpink;
		transition:800ms ease all;
	}

#interests{
	display: flex;
	justify-content: space-evenly;
	margin-top: 0px;
	padding: 5%;
}

.column-left{
	background-color: transparent;
  	width: 400px;
  	height: 530px;
 	 transition:800ms ease all;
 	border-radius: 10px;
}

.column-left-inner{
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition:800ms ease all;
}

.column-left:hover .column-left-front{
	display: none;
	transition:800ms ease all;
}	

.column-left:hover .column-left-back{
	display: block;
	transition:800ms ease all;
}

.column-left-front, .column-left-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition:800ms ease all;
}

.column-left-front{
  	background-color: #bbb;
  	color: black;
  	transition:800ms ease all;
  	background-image: url(./images/skating.jpg);
 	 background-position: center top;
 	 background-repeat: no-repeat;
  	background-width: 100% auto;
}

#interests img{
	border-radius: 10px;
}


.column-left-back {
	display: none;
  	background-color: whitesmoke;
  	color: black;
  	transition:800ms ease all;
}

.column-middle{
	background-color: transparent;
  	transition:800ms ease all;
 	width: 400px;
  	height: 530px;
  	border-radius: 10px;

}

.column-middle-inner{
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition:800ms ease all;
}

.column-middle:hover .column-middle-front{
	display: none;
	transition:800ms ease all;
}	

.column-middle:hover .column-middle-back{
	display: block;
	transition:800ms ease all;
}

.column-middle-front, .column-middle-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition:800ms ease all;
}

.column-middle-front{
  	background-color: #bbb;
  	color: black;
  	transition:800ms ease all;
  	background-image: url(./images/skating.jpg);
 	 background-position: center top;
 	 background-repeat: no-repeat;
  	background-width: 100% auto;
}


.column-middle-back {
	display: none;
  	background-color: whitesmoke;
  	color: black;
  	transition:800ms ease all;
}

.column-right{
	background-color: transparent;
  	width: 400px;
  	height: 530px;
 	 transition:800ms ease all;
 	 	border-radius: 10px;

}

.column-right-inner{
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition:800ms ease all;
}

.column-right:hover .column-right-front{
	display: none;
	transition:800ms ease all;
}	

.column-right:hover .column-right-back{
	display: block;
	transition:800ms ease all;
}

.column-right-front, .column-right-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition:800ms ease all;
}

.column-right-front{
  	color: black;
  	transition:800ms ease all;
  	background-image: url(./images/skating.jpg);
 	 background-position: center top;
 	 background-repeat: no-repeat;
  	background-width: 100% auto;
}


.column-right-back {
	display: none;
  	background-color: whitesmoke;
  	color: black;
  	transition:800ms ease all;
}


h5{
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

p3{
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
}


#footer{
	margin-top: 10px;
	display: flex;
	justify-content:  space-between;
	border-top: 1px solid black;
	padding: 5%;
}


a3{
	font-family: 'Source Serif Pro', serif;
	font-size: 40px;
	margin-bottom: 0px;
	line-height: 60px;

}

.footer-text{
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	font-size: 20px;	
}